/* 
    Created on : 23.11.2016, 16:38:37
    Author     : m@rtlin <martlin@seznam.cz>
*/

/* basic site structure */

header {
    margin: 1eM 1%;
}


main {
    margin: 0 2%;
}


footer {
    margin: 1eM 1%;
}

/******************************************************************************/
/* header formatting */

.logo-image {
    height: 4eM;
}

.main-menu-menu-item {
    margin-top: 2eM!important;
    font-size: 120%;
}


/******************************************************************************/
/* site styles */

table th, td {
    /* border: 1px solid #DDDDDD; */
}

/******************************************************************************/
/* redefine ui */

.ui-selectonemenu {
    vertical-align: bottom !important;
}

.ui-button {
    margin-left: 0.2eM!important;
}

label {
    color: #666666;
}